/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Main styles */
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
  }
  
  /* Cart items styles */
  .cart-items {
    flex-grow: 1;
  }
  
  .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .cart-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
  }
  
  .cart-item h4 {
    margin-bottom: 5px;
  }
  
  /* Cart total styles */
  .cart-total {
    flex-basis: 20%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .cart-total h2 {
    margin-bottom: 10px;
  }
  
  .cart-total h3 {
    font-size: 24px;
    color: #333;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #checkoutBtn {
    padding: 10px 20px;
    background-color: #ff5733;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #checkoutBtn:hover {
    background-color: #ff704d;
  }
  